* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(25, 25, 25);
}

header {
    background-color: yellow;
    border: 8px solid rgb(23, 23, 23);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*INICIO*/

.indexContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "items items items"
        "titulo2 titulo2 titulo2"
        "redes redes redes"
        "footer footer footer"
    ;
}

.header {
    grid-area: header;
}

.logo {
    width: 500px;
}

nav {
    width: 700px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.paginas {
    font-size: 32px;
    text-decoration: none;
    color: rgb(23, 23, 23);
}

.img {
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.imagenP {
    width: 1150px;
    border: 5px solid yellow;
}

.titulos {
    font-size: 40px;
    text-align: center;
    color: white;
}

.Uno {
    grid-area: titulo1;
}

.cajas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: items;
}

.cajas div {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.item {
    background-color: rgb(35, 35, 35);
    border: 5px solid yellow;
    padding: 25px;
    list-style: none;
}

.item li {
    color: white;
    font-size: 30px;
}

.Dos {
    grid-area: titulo2;
}

.navLinks {
    grid-area: redes;
    justify-self: center;
    align-self: center;
}

.redes {
    text-align: center;
    justify-self: center;
    align-self: center;
    list-style: none;
}

.redes li {
    margin: 5px;
}

.item2 {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

footer {
    font-size: 25px;
    text-align: right;
    padding: 25px;
    color: white;
    grid-area: footer;
    background-color: rgb(33, 33, 33);
}

footer p {
    font-size: 15px;
    text-align: right;
    color: white;
    grid-area: footer;
}




@media (min-width:320px) and (max-width:480px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        grid-template-areas:
            "header"
            "imagen"
            "titulo1"
            "items"
            "titulo2"
            "redes"
            "footer"
        ;
    }

    .img {
        border: none;
    }

    .imagenP {
        width: 100%;
    }

    .titulos {
        font-size: 45px;
    }

    .item {
        padding: 15px;
        border: 5px solid yellow;
    }

    .item li {
        font-size: 28px;
    }

    .redes li {
        padding: 8px;
    }

    .item2 {
        font-size: 38px;
    }

    footer {
        font-size: 35px;
    }

    footer p {
        font-size: 25px;
    }

}

@media (min-width:481px) and (max-width:768px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header"
            "imagen imagen"
            "titulo1 titulo1"
            "items items"
            "titulo2 titulo2"
            "redes redes"
            "footer footer"
        ;
    }

    .logo {
        width: 300px;
    }

    .paginas {
        font-size: 20px;
    }

    .img {
        border: none;
    }

    .imagenP {
        margin-left: 50px;
        width: 85%;
    }

    .titulos {
        font-size: 30px;
    }

    .cajas div {
        border: none;
    }

    .item {
        padding: 15px;
    }

    .item li {
        font-size: 15px;
    }

    .item2 {
        font-size: 25px;
    }

    footer {
        font-size: 20px;
    }

    footer p {
        font-size: 15px;
    }

}

@media (min-width:769px) and (max-width:1024px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header header"
            "imagen imagen imagen"
            "titulo1 titulo1 titulo1"
            "items items items"
            "titulo2 titulo2 titulo2"
            "redes redes redes"
            "footer footer footer"
        ;
    }

    .logo {
        width: 400px;
    }

    .paginas {
        font-size: 25px;
    }

    .img {
        border: none;
    }

    .imagenP {
        width: 90%;
        margin-left: 50px;
    }

    .item {
        padding: 15px;
        border: 5px solid yellow;
    }

    .item li {
        font-size: 22px;
    }
}


/*HISTORIA*/

.contenedorHistoria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "tyv tyv tyv"
        "titulo2 titulo2 titulo2"
        "texto2 texto2 texto2"
        "footer footer footer";

}

.t_h1 {
    font-size: 40px;
    text-align: left;
    color: white;
    margin-left: 50px;
    grid-area: titulo1;
}

.tyv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
    grid-area: tyv;
}

.texto_1 p {
    width: 800px;
    font-size: 20px;
    color: white;
}

.video {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-self: end;
}

.video a iframe {
    border: 5px solid yellow;
}

.t_h2 {
    font-size: 40px;
    text-align: left;
    color: white;
    margin-left: 50px;
    grid-area: titulo2;
}

.texto_2 {
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: texto2;
}



@media (min-width:320px) and (max-width:480px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        grid-template-areas:
            "header"
            "imagen"
            "titulo1"
            "tyv"
            "titulo2"
            "texto2"
            "footer";

    }

    .imagenP {
        width: 85%;
        margin-left: 80px;
    }

    .tyv {
        display: inline-block;
    }

    .texto_1 p {
        width: 100%;
    }

    .video  {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 175px;
    }
}


@media (min-width:481px) and (max-width:768px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header"
            "imagen imagen"
            "titulo1 titulo1"
            "tyv tyv"
            "titulo2 titulo2"
            "texto2 texto2"
            "footer footer";

    }

    .t_h1 {
        font-size: 30px;
    }

    .tyv {
        display: inline;
    }

    .texto_1 p {
        font-size: 15px;
        width: 100%;
    }

    .video {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 50px;
        width: 550px;
        height: 350px;
    }

    .t_h2 {
        font-size: 30px;
    }

    .texto_2 p {
        font-size: 15px;
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header header"
            "imagen imagen imagen"
            "titulo1 titulo1 titulo1"
            "tyv tyv tyv"
            "titulo2 titulo2 titulo2"
            "texto2 texto2 texto2"
            "footer footer footer"
            ;
    }

    .logo {
        width: 350px;
    }

    .paginas {
        font-size: 20px;
    }

    .imagenP {
        width: 85%;
    }

    .tyv {
        display: inline;
    }

    .texto_1 p {
        font-size: 20px;
        width: 100%;
    }

    .video {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 125px;
        width: 650px;
        height: 460px;
    }

    .texto_2 p {
        width: 100%;
    }

}


/*INTEGRANTES*/

.integrantes {
    display: inline-block;
}

.integrantes div p {
    width: 1500px;
    font-size: 20px;
    text-align: right;
    color: white;
    position: relative;
    left: 30px;
}

.conjuntoUno a img {
    width: 250px;
    position: relative;
    left: 100px;
    border: 10px solid yellow;
}

.t2 {
    font-size: 30px;
    text-align: left;
    color: white;
    position: relative;
    left: 70px;
}

.integrantesDos {
    display: inline-block;
}

.integrantesDos div p {
    width: 1500px;
    font-size: 20px;
    text-align: left;
    color: white;
    position: relative;
    left: 90px;
}

.conjuntoDos a img {
    width: 250px;
    position: relative;
    left: 20px;
    border: 10px solid yellow;
}

.titulo2 {
    font-size: 40px;
    text-align: center;
    color: white;
}

.filaUno {
    display: inline-block;
    color: white;
}


/*DISCOGRAFIA*/

.album {
    display: inline-block;
}

.album div p {
    font-size: 20px;
    color: white;
    text-align: center
}

.discoUno div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoDos div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoTres div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoCuatro div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoCinco div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoSeis div a img {
    width: 200px;
    border: 5px solid yellow;
}

.discoUno {
    position: relative;
    left: 290px;
}

.discoDos {
    position: relative;
    left: 350px;
}

.discoTres {
    position: relative;
    left: 410px;
}

.discoCuatro {
    position: relative;
    left: 470px;
}

.discoCinco {
    position: relative;
    left: 530px;
}

.discoSeis {
    position: relative;
    left: 840px;
}

.listas div {
    display: inline-block;
    width: 500px;
}

.garage {
    border: 5px solid yellow;
    position: relative;
    left: 100px;
}

.live {
    border: 5px solid yellow;
    position: relative;
    left: 170px;
}

.lulu {
    border: 5px solid yellow;
    position: relative;
    left: 240px;
}




.slider a img {
    width: 1000px;
    position: relative;
    left: 470px;
}

.contacto {
    font-size: 35px;
    color: white;
}

.miHistoria p {
    font: 28px;
    color: white;
    width: 800px;
}

.formulario div {
    display: inline-block;
}

form {
    position: relative;
    bottom: 150px;
    left: 400px;
}

form h2 {
    font-size: 35px;
    color: white;
}

form label {
    font-size: 20px;
    color: white;
}