* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(25, 25, 25);
}

header {
    background-color: yellow;
    border: 8px solid rgb(23, 23, 23);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*INICIO*/

.indexContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "items items items"
        "titulo2 titulo2 titulo2"
        "redes redes redes"
        "footer footer footer"
    ;
}

.header {
    grid-area: header;
}

.logo {
    width: 500px;
}

nav {
    width: 700px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.paginas {
    font-family: 'Acme', sans-serif;
    font-size: 32px;
    text-decoration: none;
    color: rgb(23, 23, 23);
}

.img {
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.imagenP {
    width: 1150px;
    border: 5px solid yellow;
}

.titulos {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

.Uno {
    grid-area: titulo1;
}

.cajas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: items;
}

.cajas div {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.item {
    background-color: rgb(35, 35, 35);
    border: 5px solid yellow;
    padding: 25px;
    list-style: none;
}

.item li {
    color: white;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

.Dos {
    grid-area: titulo2;
}

.navLinks {
    grid-area: redes;
    justify-self: center;
    align-self: center;
}

.redes {
    text-align: center;
    justify-self: center;
    align-self: center;
    list-style: none;
}

.redes li {
    margin: 5px;
}

.item2 {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

footer {
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    text-align: right;
    padding: 25px;
    color: white;
    grid-area: footer;
    background-color: rgb(33, 33, 33);
}

footer p {
    font-size: 15px;
    text-align: right;
    color: white;
    grid-area: footer;
}

@media (min-width:320px) and (max-width:480px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        grid-template-areas:
            "header"
            "imagen"
            "titulo1"
            "items"
            "titulo2"
            "redes"
            "footer"
        ;
    }

    .img {
        border: none;
    }

    .imagenP {
        width: 100%;
    }

    .titulos {
        font-size: 45px;
    }

    .item {
        padding: 15px;
        border: 5px solid yellow;
    }

    .item li {
        font-size: 28px;
    }

    .redes li {
        padding: 8px;
    }

    .item2 {
        font-size: 38px;
    }

    footer {
        font-size: 35px;
    }

    footer p {
        font-size: 25px;
    }

}

@media (min-width:481px) and (max-width:768px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header"
            "imagen imagen"
            "titulo1 titulo1"
            "items items"
            "titulo2 titulo2"
            "redes redes"
            "footer footer"
        ;
    }

    .logo {
        width: 300px;
    }

    .paginas {
        font-size: 20px;
    }

    .img {
        border: none;
    }

    .imagenP {
        margin-left: 50px;
        width: 85%;
    }

    .titulos {
        font-size: 30px;
    }

    .cajas div {
        border: none;
    }

    .item {
        padding: 15px;
    }

    .item li {
        font-size: 15px;
    }

    .item2 {
        font-size: 25px;
    }

    footer {
        font-size: 20px;
    }

    footer p {
        font-size: 15px;
    }

}

@media (min-width:769px) and (max-width:1024px) {

    .indexContenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header header"
            "imagen imagen imagen"
            "titulo1 titulo1 titulo1"
            "items items items"
            "titulo2 titulo2 titulo2"
            "redes redes redes"
            "footer footer footer"
        ;
    }

    .logo {
        width: 400px;
    }

    .paginas {
        font-size: 25px;
    }

    .img {
        border: none;
    }

    .imagenP {
        width: 90%;
        margin-left: 50px;
    }

    .item {
        padding: 15px;
        border: 5px solid yellow;
    }

    .item li {
        font-size: 22px;
    }
}

/*HISTORIA*/

.contenedorHistoria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "tyv tyv tyv"
        "titulo2 titulo2 titulo2"
        "texto2 texto2 texto2"
        "footer footer footer";

}

.t_h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: left;
    color: white;
    margin-left: 50px;
    grid-area: titulo1;
}

.tyv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
    grid-area: tyv;
}

.texto_1 p {
    width: 800px;
    font-size: 20px;
    color: white;
    font-family: 'Acme', sans-serif;
}

.video {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-self: end;
}

.video a iframe {
    border: 5px solid yellow;
}

.t_h2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: left;
    color: white;
    margin-left: 50px;
    grid-area: titulo2;
}

.texto_2 {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: texto2;
}



@media (min-width:320px) and (max-width:480px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        grid-template-areas:
            "header"
            "imagen"
            "titulo1"
            "tyv"
            "titulo2"
            "texto2"
            "footer";

    }

    .imagenP {
        width: 85%;
        margin-left: 80px;
    }

    .tyv {
        display: inline-block;
    }

    .texto_1 p {
        width: 100%;
    }

    .video {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 175px;
    }
}


@media (min-width:481px) and (max-width:768px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header"
            "imagen imagen"
            "titulo1 titulo1"
            "tyv tyv"
            "titulo2 titulo2"
            "texto2 texto2"
            "footer footer";

    }

    .t_h1 {
        font-size: 30px;
    }

    .tyv {
        display: inline;
    }

    .texto_1 p {
        font-size: 15px;
        width: 100%;
    }

    .video {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 50px;
        width: 550px;
        height: 350px;
    }

    .t_h2 {
        font-size: 30px;
    }

    .texto_2 p {
        font-size: 15px;
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .contenedorHistoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas:
            "header header header"
            "imagen imagen imagen"
            "titulo1 titulo1 titulo1"
            "tyv tyv tyv"
            "titulo2 titulo2 titulo2"
            "texto2 texto2 texto2"
            "footer footer footer"
        ;
    }

    .logo {
        width: 350px;
    }

    .paginas {
        font-size: 20px;
    }

    .imagenP {
        width: 85%;
    }

    .tyv {
        display: inline;
    }

    .texto_1 p {
        font-size: 20px;
        width: 100%;
    }

    .video {
        border: none;
    }

    .video a iframe {
        margin-top: 35px;
        margin-left: 125px;
        width: 650px;
        height: 460px;
    }

    .texto_2 p {
        width: 100%;
    }

}

/*INTEGRANTES*/

.contenedorIntegrantes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    grid-template-areas:
        "header header"
        "imagen imagen"
        "t1 t1"
        "jamesT jamesT"
        "james james"
        "larsT larsT"
        "lars lars"
        "kirkT kirkT"
        "kirk kirk"
        "robT robT"
        "rob rob"
        "t2 t2"
        "cliffT cliffT"
        "cliff cliff"
        "jasonT jasonT"
        "jason jason"
        "daveT daveT"
        "dave dave"
        "footer footer";
}

.img {
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.titulo {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: white;
    grid-area: t1;
    margin-left: 45px;
}

.james {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: jamesT;
    margin-left: 45px;
}

.jamesH {
    display: flex;
    justify-content: space-evenly;
    grid-area: james;
}

.textoUno p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.int_Img {
    width: 250px;
    border: 10px solid yellow;
}

.int_Img2 {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
}

.lars {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: larsT;
    margin-left: 45px;
}

.larsU {
    display: flex;
    justify-content: space-evenly;
    grid-area: lars;
}

.textoDos p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.kirk {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: kirkT;
    margin-left: 45px;
}

.kirkH {
    display: flex;
    justify-content: space-evenly;
    grid-area: kirk;
}

.textoTres p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.rob {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: robT;
    margin-left: 45px;
}

.robT {
    display: flex;
    justify-content: space-evenly;
    grid-area: rob;
}

.textoCuatro p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.titulo2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    grid-area: t2;
}

.cliff {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: cliffT;
    margin-left: 45px;
}

.cliffB {
    display: flex;
    justify-content: space-evenly;
    grid-area: cliff;
}

.textoCinco p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.jason {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: jasonT;
    margin-left: 45px;
}

.jasonN {
    display: flex;
    justify-content: space-evenly;
    grid-area: jason;
}

.textoSeis p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

.dave {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    grid-area: daveT;
    margin-left: 45px;
}

.daveM {
    display: flex;
    justify-content: space-evenly;
    grid-area: dave;
}

.textoSiete p {
    font-family: 'Acme', sans-serif;
    width: 1500px;
    font-size: 20px;
    color: white;
}

/*DISCOGRAFIA*/

.contenedorDiscografia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 35px;
    grid-template-areas:
    "header header header header header"
    "t1 t1 t1 t1 t1"
    "kill ride master justice metallica"
    "load reload anger death hardwired"
    "season season season season season"
    "t2 t2 t2 t2 t2"
    "canciones canciones canciones canciones canciones"
    "footer footer footer footer footer";
}

.tituloDisc {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 70px;
    grid-area: t1;
}

.album {
    display: flex;
    justify-content: space-evenly;
}

.album div a{
    border-right: 5px solid rgb(16, 16, 16);
    border-bottom: 5px solid rgb(16, 16, 16);
}

.album p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}

.imgDisc {
    width: 200px;
    border: 5px solid yellow;
}

.season {
    margin-left: 440%;
}

.tituloDisc2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 60px;
    grid-area: t2;
}

.canciones {
    display: flex;
    justify-content: space-evenly;
    grid-area: canciones;
}

.canciones div {
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
    border-radius: 10px;
}

.canciones div a iframe{
    width: 545px;
    border: 5px solid yellow;
}














/*CONTACTO*/

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    grid-template-areas:
    "header header"
    "slider slider"
    "t_hist t_form"
    "hist form"
    "footer footer"
}

.slider {
    width: 1150px;
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
    grid-area: slider;
    display: flex;
    justify-self: center;
}

.carousel-inner {
    border: 10px solid yellow;
}

.tituloHist {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: white;
    grid-area: t_hist;
    margin-left: 50px;
}

.miHistoria {
    grid-area: hist;
}

.miHistoria p {
    font-size: 20px;
    color: white;
    width: 1000px;
    margin-left: 50px;
    font-family: 'Acme', sans-serif;
}

.tituloForm {
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    color: white;
    grid-area: t_form;
    margin-left: 50px;
}

.formulario {
    grid-area: form;
}

form {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 50px;
}

form input {
    margin-left: 20px;
}

form div input {
    margin-top: 20px;
    margin-left: 20px;
}

.correo input {
    width: 290px;
}

.comentario input {
    height: 100px;
    width: 350px;
}

.botones {
    margin-top: 20px;
    margin-left: 108px;
}