* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $bodyColor;
}


/*INICIO*/
.indexContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "items items items"
        "titulo2 titulo2 titulo2"
        "redes redes redes"
        "footer footer footer"
    ;

    h2 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        text-align: center;
        color: $fontColor;
        grid-area: titulo1;
    }

    .cajas {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        grid-area: items;

        div {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            ul {
                background-color: $itemBackground;
                border: $borderItemColor;
                padding: 25px;
                list-style: none;

                li {
                    color: $fontColor;
                    font-size: $textItems;
                    font-family: $mainFonts;
                    text-align: center;
                }
            }
        }
    }

    .Dos {
        grid-area: titulo2;
    }

    .navLinks {
        grid-area: redes;
        justify-self: center;
        align-self: center;
        margin-left: 60px;

        nav {
            ul {
                text-align: center;
                justify-self: center;
                align-self: center;
                list-style: none;

                li {
                    margin: 5px;

                    a {
                        color: $fontColor;
                        text-decoration: none;
                        font-size: $textItems;
                        font-family: $mainFonts;
                    }
                }
            }
        }
    }
}

//HISTORIA

.contenedorHistoria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "imagen imagen imagen"
        "titulo1 titulo1 titulo1"
        "tyv tyv tyv"
        "titulo2 titulo2 titulo2"
        "texto2 texto2 texto2"
        "footer footer footer"
    ;

    h2 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        text-align: left;
        color: $fontColor;
        margin-left: 50px;
        grid-area: titulo1;
    }

    .tyv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 50px;
        grid-area: tyv;

        div {
            p {
                width: $tamText1;
                font-size: $textParrafo;
                color: $fontColor;
                font-family: $mainFonts;
            }
        }

        .video {
            display: flex;
            flex-direction: row;
            justify-self: end;
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            a {
                iframe {
                    border: $borderItemColor;
                }
            }
        }
    }

    .t_h2 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        text-align: left;
        color: $fontColor;
        margin-left: 50px;
        grid-area: titulo2;
    }

    .texto_2 {
        grid-area: texto2;

        p {
            font-family: $mainFonts;
            font-size: $textParrafo;
            color: $fontColor;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

/*INTEGRANTES*/

.contenedorIntegrantes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    grid-template-areas:
        "header header"
        "imagen imagen"
        "t1 t1"
        "jamesT jamesT"
        "james james"
        "larsT larsT"
        "lars lars"
        "kirkT kirkT"
        "kirk kirk"
        "robT robT"
        "rob rob"
        "t2 t2"
        "cliffT cliffT"
        "cliff cliff"
        "jasonT jasonT"
        "jason jason"
        "daveT daveT"
        "dave dave"
        "footer footer"
    ;

    h2 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        color: $fontColor;
        grid-area: t1;
        margin-left: 45px;
    }

    .james {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: jamesT;
        margin-left: 45px;
    }

    .jamesH {
        display: flex;
        justify-content: space-evenly;
        grid-area: james;

        .textoUno {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            a {
                img {
                    width: $tamItem;
                    border: $borderItemColor2;
                }
            }
        }
    }

    .lars {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: larsT;
        margin-left: 45px;
    }

    .larsU {
        display: flex;
        justify-content: space-evenly;
        grid-area: lars;

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            img {
                width: $tamItem;
                border: $borderItemColor2;
            }
        }

        div {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }
    }

    .kirk {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: kirkT;
        margin-left: 45px;
    }

    .kirkH {
        display: flex;
        justify-content: space-evenly;
        grid-area: kirk;

        .textoTres {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            img {
                width: $tamItem;
                border: $borderItemColor2;
            }
        }
    }

    .rob {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: robT;
        margin-left: 45px;
    }

    .robT {
        display: flex;
        justify-content: space-evenly;
        grid-area: rob;

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            img {
                width: $tamItem;
                border: $borderItemColor2;
            }
        }

        .textoCuatro {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }
    }

    .titulo2 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        text-align: center;
        color: $fontColor;
        grid-area: t2;
    }

    .cliff {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: cliffT;
        margin-left: 45px;
    }

    .cliffB {
        display: flex;
        justify-content: space-evenly;
        grid-area: cliff;

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            img {
                width: $tamItem;
                border: $borderItemColor2;
            }
        }

        .textoCinco {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }
    }

    .jason {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: jasonT;
        margin-left: 45px;
    }

    .jasonN {
        display: flex;
        justify-content: space-evenly;
        grid-area: jason;

        .textoSeis {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }

        div {
            a {
                border-right: $borderItemExteriorColor;
                border-bottom: $borderItemExteriorColor;

                img {
                    width: $tamItem;
                    border: $borderItemColor2;
                }
            }
        }
    }

    .dave {
        font-family: $mainFonts;
        font-size: $textItems;
        color: $fontColor;
        grid-area: daveT;
        margin-left: 45px;
    }

    .daveM {
        display: flex;
        justify-content: space-evenly;
        grid-area: dave;

        .int_Img2 {
            border-right: $borderItemExteriorColor;
            border-bottom: $borderItemExteriorColor;

            img {
                width: $tamItem;
                border: $borderItemColor2;
            }
        }

        .textoSiete {
            p {
                font-family: $mainFonts;
                width: $tamText2;
                font-size: $textParrafo;
                color: $fontColor;
            }
        }
    }
}

//DISCOGRAFIA

.contenedorDiscografia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 35px;
    grid-template-areas:
        "header header header header header"
        "t1 t1 t1 t1 t1"
        "kill ride master justice metallica"
        "load reload anger death hardwired"
        "season season season season season"
        "t2 t2 t2 t2 t2"
        "canciones canciones canciones canciones canciones"
        "footer footer footer footer footer"
    ;

    h1 {
        font-family: $mainFonts;
        font-size: $textTitulo;
        color: $fontColor;
        margin-left: 70px;
        grid-area: t1;
    }

    .album {
        display: flex;
        justify-content: space-evenly;

        div {
            a {
                border-right: 5px solid rgb(16, 16, 16);
                border-bottom: 5px solid rgb(16, 16, 16);

                img {
                    width: 200px;
                    border: $borderItemColor;
                }
            }
        }

        p {
            font-family: $mainFonts;
            font-size: $textParrafo;
            color: $fontColor;
            text-align: center;
            padding: 10px;
        }

        .season {
            margin-left: 440%;
        }
    }
}

h2 {
    font-family: $mainFonts;
    font-size: $textTitulo;
    color: $fontColor;
    margin-left: 60px;
    grid-area: t2;
}

.canciones {
    display: flex;
    justify-content: space-evenly;
    grid-area: canciones;

    div {
        border-right: $borderItemExteriorColor;
        border-bottom: $borderItemExteriorColor;
        border-radius: 10px;

        a {
            iframe {
                width: 545px;
                border: $borderItemColor;
            }
        }
    }
}

//CONTACTO

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    grid-template-areas:
        "header header"
        "slider slider"
        "t_hist t_form"
        "hist form"
        "footer footer"
    ;
}

.slider {
    width: 1150px;
    border-right: 10px solid rgb(16, 16, 16);
    border-bottom: 10px solid rgb(16, 16, 16);
    grid-area: slider;
    display: flex;
    justify-self: center;

    div {
        .carousel-inner {
            border: $borderItemColor2;
        }
    }
}

.tituloHist {
    font-family: $mainFonts;
    font-size: $textTitulo;
    color: $fontColor;
    grid-area: t_hist;
    margin-left: 50px;
}

.miHistoria {
    grid-area: hist;

    p {
        font-size: $textParrafo;
        color: $fontColor;
        width: 1000px;
        margin-left: 50px;
        font-family: $mainFonts;
    }
}

.tituloForm {
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    color: white;
    grid-area: t_form;
    margin-left: 50px;
}

.formulario {
    grid-area: form;

    form {
        font-size: 20px;
        font-family: 'Acme', sans-serif;
        color: white;
        margin-left: 50px;

        input {
            margin-left: 20px;
        }

        div {
            input {
                margin-top: 20px;
                margin-left: 20px;
            }
        }

        .correo {
            input {
                width: 290px;
            }
        }

        .comentario {
            input {
                height: 100px;
                width: 350px;
            }
        }

        .botones {
            margin-top: 20px;
            margin-left: 108px;
        }
    }
}