body {
    background-color: $bodyColor;
}

/*INICIO*/

h2 {
    font-family: $mainFonts;
    font-size: $textTitulo;
    color: $fontColor;
}

.cajas {
    transform: skewY(-0.5deg);

    div {
        ul {
            background-color: $itemBackground;
            border: $borderItemColor;
            padding: 25px;
            list-style: none;
            box-shadow: $mainShadow;

            li {
                color: $fontColor;
                font-size: $textItems;
                font-family: $mainFonts;
                text-align: center;
            }
        }
    }
}

.item {
    box-shadow: $mainShadow;
    width: 28%;
    transform: skewY(-0.5deg);

    div {
        border: $borderItemColor;

        h5 {
            font-family: $mainFonts;
        }

        p {
            font-family: $mainFonts;
            color: black;
            text-align: start;
        }

        a {
            font-family: $mainFonts;
            background-color: $fontNavColor;
        }
    }
}

.btn:hover {
    background-color: rgb(68, 66, 51);
}

.navLinks {
    nav {
        ul {
            text-align: center;
            justify-self: center;
            align-self: center;
            list-style: none;

            li {
                margin: 5px;

                a {
                    color: $fontColor;
                    text-decoration: none;
                    font-size: $textItems;
                    font-family: $mainFonts;
                }
            }
        }
    }
}

//HISTORIA

section {
    .tyv {
        div {
            p {
                color: $fontColor;
                font-size: $textParrafo;
                font-family: $mainFonts;
                text-align: start;
            }
        }
    }

    div {
        a {
            iframe {
                border: $borderItemColor;
                border-radius: $borderRadiusNav;
                box-shadow: $mainShadow;
            }
        }
    }
}

section {
    .text {
        p {
            color: $fontColor;
            font-size: $textParrafo;
            font-family: $mainFonts;
            text-align: start;
        }
    }
}


/*INTEGRANTES*/

h3 {
    font-family: $mainFonts;
    color: $fontColor;
}

section {
    .filaUno {
        div {
            p {
                width: 100%;
                text-align: start;
            }
        }

        div {
            a {
                img {
                    width: 80%;
                    border: $borderItemColor;
                    box-shadow: $mainShadow
                }

                img:hover {
                    transform: skewY(-1deg);
                }
            }
        }
    }

    .filaDos {
        div {
            a {
                img {
                    width: 80%;
                    border: $borderItemColor;
                    box-shadow: $mainShadow
                }

                img:hover {
                    transform: skewY(1deg);
                }
            }
        }

        div {
            p {
                width: 100%;
                text-align: end;
            }
        }
    }
}

//DISCOGRAFIA

section {
    div {
        div {
            width: 100%;

            a {
                img {
                    border: $borderItemColor;
                    box-shadow: $mainShadow;
                    transform: skewY(-0.5deg);
                }
            }
        }

        p {
            font-family: $mainFonts;
            font-size: $textParrafo;
            color: $fontColor;
        }
    }
}

.canciones {
    div {
        a {
            iframe {
                height: 400px;
                border: $borderItemColor;
                box-shadow: $mainShadow
            }
        }
    }
}

.album2 {
    a {
        img {
            border: 45px solid rgb(16, 16, 16);
            width: 15%;
        }
    }

}

//CONTACTO

main {
    .slider {
        width: 100%;

        div {
            .carousel-inner {
                border-bottom: $borderItemColor;
            }
        }
    }
}

section {
    div {
        p {
            font-size: $textParrafo;
            color: $fontColor;
            font-family: $mainFonts;
            text-align: start;
        }
    }

    div {
        .formulario {
            form {
                font-size: $textParrafo;
                font-family: $mainFonts;
                color: $fontColor;

                .correo {
                    input {
                        width: 290px;
                    }
                }

                .comentario {
                    input {
                        height: 100px;
                        width: 350px;
                    }
                }

                .botones {
                    margin-left: 55px;
                }
            }
        }
    }
}



// ERROR 404

.body {
    background-color: black;
    main {
        .james {
            width: 1010px;
            position: absolute;
            left: 430px;
            border-left:5px solid rgb(23, 23, 23);
            border-right:5px solid rgb(23, 23, 23);
        }
    
        a {
            transform: skewY(-8deg);
            position: absolute;
            left: 1080px;
            top: 590px;
            background-color: $importantItemColor;
            text-decoration: none;
            font-family: $mainFonts;
            color: $fontNavColor;
            font-size: 25px;
            padding: 5px;
            border: 2px solid $fontNavColor;
            border-radius: 5px;
        }
    
        .bg {
            width: 1000px;
            position: absolute;
            left: 800px;
        }
    }

}