// nesting

main {
    header {
        background-color: $importantItemColor;
        height: 75px;

        nav {
            height: 100%;

            div {
                width: 100%;

                ul {
                    li {
                        font-family: $mainFonts;
                        font-size: 10px;
                        color: $fontNavColor;
                    }
                }
            }
        }

        a {
            img {
                width: 40%;
            }
        }

        div {
            text-align: end;

            a {
                font-family: $mainFonts;
                font-size: $textMenu;
                text-decoration: none;
                color: $fontNavColor;
            }
        }
    }
}