//INDEX

@media (max-width:425px) {
    main {
        header {
            height: 30px;

            nav {
            }


            a {
                img {
                    width: 50%;
                }
            }

            div {
                text-align: end;

                a {
                    font-family: $mainFonts;
                    font-size: 12px;
                    text-decoration: none;
                    color: $fontNavColor;
                    
                    i {
                        display: none;
                    }
                }
            }
        }

        h2 {
            font-size: 20px;
        }

        .cajas {
            div {
                width: 100%;

                ul {
                    border: 2px solid yellow;
                    ;
                    padding: 5px;

                    li {
                        font-size: 12px;
                    }
                }
            }
        }

        .shop {
            .item {
                width: 100%;
            }
        }


    }

    footer {
        font-size: 20px;
        text-align: center;

        h2 {
            font-size: 20px;
        }

        .navLinks {
            nav {
                ul {
                    li {
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        p {
            font-size: 10px;
            text-align: center;
        }
    }
}

//HISTORIA