//variables

//esquema de colores
$bodyColor: rgb(25, 25, 25);
$importantItemColor: yellow;
$itemBackground:rgb(35, 35, 35);
$fontNavColor: rgb(23, 23, 23);
$fontColor: white;
$footerColor: rgb(33, 33, 33);
$mainShadow: 10px 10px 15px black;

//fonts
$mainFonts:'Acme', sans-serif;

//fonts-sizes
$textMenu: 32px;
$textItems: 30px;
$textTitulo: 38px;
$textParrafo: 18px;
$textFooter: 25px;
$textFooter2: 15px;

//bordes 
$borderRadiusNav: 20px;
$borderItemExteriorColor: 10px solid rgb(16, 16, 16);
$borderItemColor: 5px solid yellow;

//widths 
$tamItem: 250px;
$tamLogo: 500px;
$tamNav: 700px;
$tamImagenP: 1150px;
$tamText1: 800px;
$tamText2: 1500px;


